*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

    /* set a root font size for the app, this is a technique to save our selfs some work in the future
    - then use 'rem' units across the app.
    - use % for root font size, usually default font size of browsers are 16px. so if we are targetting
    10/16 = .625 ~ 62.5% of the default browser font
    .625 * 16 = 10px
    */

html {
    font-size: 62.5%; // this defines what 1 rem is, 10px

    @include respond(big-desktop) { font-size: 75%; } // 1 rem = 12px, 12/16 = 75% 

    @include respond(tab-land) { font-size: 60%; } // 1 rem = 9px, 9/16 = 56.25%
    @include respond(tab-port) { font-size: 50%; } // 1 rem = 8px, 8/16 = 50%
    @include respond(phone) { font-size: 52%; } // 1 rem = 4px, 4/16 = 25%

}

body {
    box-sizing: border-box;
    color: $color-grey-dark;
    padding: 3rem;

    @include respond(tab-port) { 
        padding: 0;
    } 
}